.banner-block {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 200px;

  &--reversed {
    .banner-block__left-column {
      order: 2;
    }

    .banner-block__right-column {
      order: 1;
    }
  }

  @include lgMax {
    flex-wrap: wrap;
  }

  .banner-block__left-column {
    width: 100%;
    max-width: 360px;
    background-color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;

    @include xlMax {
      max-width: 320px;
    }

    @include lgMax {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    @include smMax {
      flex-direction: column;
    }
  }

  .banner-block__right-column {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    align-items: center;

    @include xlMax {
      flex-direction: column;
    }

    @include lgMax {
      width: 100%;
    }
  }

  .banner-block__background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  .banner-block__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #393939;
      opacity: .6;
    }
  }

  .banner-block__logo {
    img {
      width: 100%;
      max-width: 240px;
    }
  }

  .banner-block__content {
    position: relative;
    z-index: 3;
    flex: 1;

    @include xlMax {
      text-align: center;
      margin-bottom: 24px;
    }
  }

  .banner-block__name {
    font-family: "Montserrat SemiBold", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 16px;
    line-height: 1;

    @include font-size(2rem);
  }

  .banner-block__subname {
    margin-top: 24px;
    font-family: "Montserrat SemiBold", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;
    line-height: 1;

    @include font-size(1rem);
  }

  .banner-block__title {
    font-family: "Montserrat Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.35;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);

    @include margin-bottom(.5rem);
    @include margin-top(.5rem);
    @include font-size(2rem);
  }

  .banner-block__subtitle {
    font-family: "Multi", sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 1.35;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);

    @include margin-bottom(.5rem);
    @include margin-top(.5rem);
    @include font-size(1.375rem);
  }

  .banner-block__button {
    position: relative;
    z-index: 3;
    margin-left: 40px;
    padding: 15px;
    box-sizing: border-box;
    display: block;

    @include xlMax {
      margin-left: 0px;
    }

    a {
      display: block;
      box-sizing: border-box;
      padding: 15px;
      width: 100%;
      min-width: 280px;
      @include font-size(1rem);
      color: #fff;
      font-weight: 600;
      font-family: "Montserrat SemiBold",
        sans-serif;

      background-color: transparent;
      text-transform: uppercase;
      border: 2px solid #fff;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      transition: background-color .4s, color .4s;

      &:hover {
        background-color: #fff;
        color: #393939;
      }

      @include smMax {
        width: 80%;
        min-width: 220px;
      }
    }
  }
}