.goals-grid {
  margin-top: 30px;
  margin-bottom: 30px;

  .goals-grid__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat Bold", sans-serif;
    font-weight: 700;
    line-height: 1.35;
    @include font-size(2rem);
  }

  .goals-grid__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;

    @include xxlMax {
      grid-template-columns: repeat(8, 1fr);
    }

    @include lgMax {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  .goals-grid__item {

    img {
      max-width: 100%;
    }
  }
}