//---------- ARTICLE ITEM

.article-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;


  img {
    width: 100%;
  }

  @include md {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include xxl {
    max-width: initial;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 43px;

    .smiley-img-wrap {
      width: 100%;
    }

    img {
      margin-bottom: 0;
    }
  }

  .article-descr {
    margin-top: 14px;
    padding: 0 0 17px 0;

    @include xxl {
      margin-top: 0;
    }
  }

  .article-date-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @include xxl {
      margin-top: 10px;
    }

    .article-date {
      color: #a1a1a1;
      font: 600 16px/24px 'Montserrat SemiBold', sans-serif;
    }

    .article-location {
      color: #D21217;
      font: 600 16px/24px 'Montserrat SemiBold', sans-serif;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }

  .article-title {
    color: $default-text;
    font: 700 20px/32px 'Montserrat Bold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .article-subtitle {
    color: $default-text;
    font: 400 16px/20px 'Muli', sans-serif;
    padding-right: 15px;
  }
}