.add-organisation {
  text-align: center;

  .add-organisation-title {
    color: $default-text;
    font: 700 56px/74px 'Montserrat Bold', sans-serif;
    margin-bottom: 20px;
    margin-top: 85px;
  }

  .add-organisation-subtitle {
    color: $default-text;
    font: 400 22px/36px 'Muli', sans-serif;
    max-width: 884px;
    margin: 0 auto 26px;
  }

  .organisation-wrap {
    width: 100%;
    max-width: 762px;
    text-align: left;
    margin: 57px auto 0;

    label {
      color: $default-text;
      font: 700 16px/24px 'Muli', sans-serif;

      input {
        display: block;
        margin: 7px auto 25px;
        width: 100%;
        box-sizing: border-box;
        height: 48px;
        border: 1px solid #C7C7C7;
        border-radius: 4px;
        font: 400 16px/24px 'Inter Regular', sans-serif;
        color: #656565;
        padding: 0 48px 0 16px;
      }
    }

    .next-btn-wrap {
      margin-top: 27px;
    }

    .next-btn {
      border-radius: 4px;
      background-color: $default-yellow-btns;
      height: 48px;
      width: 100%;
      border: none;
      font: 700 16px/24px 'Montserrat Bold', sans-serif;
      color: #000;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #f6f162;
        box-shadow: 0 2px 28px -13px rgba(0, 0, 0, .4);
        color: #000;
        transition: all .2s ease;
      }
    }
  }
}