.customize-organisation {
  text-align: center;
  padding-bottom: 89px;

  .customize-organisation-content {
    max-width: 762px;
    margin: 0 auto;
  }

  .customize-organisation-title {
    color: $default-text;
    font: 700 56px/74px 'Montserrat Bold', sans-serif;
    margin-bottom: 12px;
    margin-top: 71px;
    text-align: center;
    text-transform: uppercase;

    @include smMax {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  .customize-organisation-subtitle {
    color: $default-text;
    font: 700 16px/24px 'Montserrat Bold', sans-serif;
    margin-bottom: 48px;
    margin-top: 24px;
    text-align: center;
  }

  .upload-organisation-image-wrap {
    width: 174px;
    height: 174px;
    position: relative;
    margin: 0 auto;

    .organisation-image {
      border-radius: 50%;
      overflow: hidden;
      height: 100%;
      cursor: pointer;

      img {
        height: 100%;
      }
    }

    .add-org-photo {
      width: 53px;
      height: 53px;
      border: 3px solid #fff;
      border-radius: 50%;
      background-color: #656565;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      box-sizing: border-box;
      top: 0;
      right: 0;

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 50%;
        cursor: pointer;
      }

      svg {
        width: 20px;
        height: 20px;
        z-index: 0;
      }
    }
  }

  p {
    font: 700 16px/24px 'Muli', sans-serif;
    color: $default-text;
    margin-top: 22px;
    margin-bottom: 49px;
  }

  .add-organisation-info {
    width: 100%;
    text-align: left;
    margin: auto 0;

    label {
      color: $default-text;
      font: 700 16px/24px 'Muli', sans-serif;

      input,
      select {
        display: block;
        margin: 7px auto 25px;
        width: 100%;
        box-sizing: border-box;
        height: 48px;
        border: 1px solid #C7C7C7;
        border-radius: 4px;
        font: 400 16px/24px 'Muli', sans-serif;
        color: #656565;
        padding: 0 48px 0 16px;
        background-color: #fff;
      }
    }
  }

  .input-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;

    label {
      width: calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px;

      @include smMax() {
        width: 100%;
      }
    }


  }

  .soc-net-link-wrap {
    * {
      width: 100%;
      box-sizing: border-box;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    button {
      font: 700 16px/24px 'Montserrat Bold', sans-serif;
      color: #fff;
      border-radius: 4px;
      background-color: #656565;
      border: none;
      height: 48px;
      width: 100%;
      max-width: 158px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .input-wrap {
      margin: 7px auto 21px;
      position: relative;
      display: flex;

      &:after,
      &:before {
        content: '';
        height: 2px;
        width: 16px;
        background-color: #000;
        position: absolute;
        opacity: 1;
        top: 23px;
        right: 20px;
        margin-left: -8px;
        transition: .2s ease-in;
      }

      &:before {
        transform: rotate(90deg);
      }

      input {
        margin: 0;
      }

      input:disabled {
        background-color: #fff;
        cursor: pointer;
      }
    }

    @include md {
      display: flex;

      div {
        flex-direction: row;
        align-items: flex-start;

        #paste-facebook-link,
        #paste-twitter-link {
          margin-bottom: 0;
        }
      }

      button {
        margin: 31px 0 0 18px;
      }

      .twitter-link-input-wrap {
        margin-top: -24px;

      }

      .link-label {
        max-width: 244px;
      }

      .facebook-link-input-wrap,
      .twitter-link-input-wrap {
        margin-left: 29px;
      }
    }
  }

  #organisation-description {
    width: 100%;
    max-width: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    box-sizing: border-box;
    font: 400 16px/24px 'Muli', sans-serif;
    padding: 10px 16px;
    margin-top: 5px;
    margin-bottom: 18px;
  }

  .upload-video-label,
  .upload-images-label {
    .input-wrap {
      position: relative;
      margin-top: 5px;

      input {
        margin: 0;

        &:disabled {
          background-color: #fff;
          cursor: pointer;
        }

        &[type='file'] {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      svg {
        position: absolute;
        top: 12px;
        right: 16px;
      }
    }
  }

  .upload-video-label {
    .input-wrap {
      margin-bottom: 27px;
    }
  }

  .checkbox-wrap {
    margin: 27px auto 0;
  }

  .register-checkbox {
    position: relative;
    padding-left: 40px;
    margin-bottom: 26px;
    cursor: pointer;
    color: $default-text;
    font: 400 16px/24px 'Muli', sans-serif;
    user-select: none;
    display: table;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .register-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      border: 1px solid #c7c7c7;
      border-radius: 4px;
      box-sizing: border-box;
      transition: all .2s ease;

      svg {
        opacity: 0;
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }

    a {
      color: #324287;
    }
  }

  .register-checkbox input:checked~.register-checkmark {
    background-color: $default-yellow-btns;
    border: none;
    transition: all .2s ease;

    svg {
      opacity: 1;
    }
  }

  .finish-btn {
    border-radius: 4px;
    background-color: $default-yellow-btns;
    height: 48px;
    width: 100%;
    border: none;
    font: 700 16px/24px 'Montserrat Bold', sans-serif;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: #f6f162;
      box-shadow: 0 2px 28px -13px rgba(0, 0, 0, .4);
      color: #000;
      transition: all .2s ease;
    }
  }
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  .section-title__heading {
    font: 700 22px/28px "Muli",
      sans-serif;
    color: $default-text;
  }
}