.registration-step-4{
  text-align: center;
  margin-top: 127px;
  margin-bottom: 160px;
  .registration-title{
    color: $default-text;
    font: 700 56px/74px 'Montserrat Bold', sans-serif;
    margin-bottom: 24px;
  }
  .registration-subtitle{
    color: $default-text;
    font: 400 22px/36px 'Muli', sans-serif;
    max-width: 778px;
    margin: 0 auto 42px;
  }
  .registration-4{
    max-width: 790px;
    margin: 0 auto;
    .interest-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include custom-width(806px){
        justify-content: flex-start;
      }
      .interest-item{
        max-width: 169px;
        max-height: 169px;
        margin: 14px;
        position: relative;
        .interest-img-wrap{
          display: flex;
          border: 1px solid #efefef;
          max-width: 100%;
          height: auto;
          img{
            width: 100%;
          }
        }
        .interest-checkbox {
          position: relative;
          cursor: pointer;
          color: $default-text;
          font: 400 16px/24px 'Muli', sans-serif;
          user-select: none;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          .interest-checkmark {
            position: absolute;
            top: 5px;
            right: -78px;
            height: 24px;
            width: 24px;
            border: 1px solid #c7c7c7;
            border-radius: 4px;
            box-sizing: border-box;
            transition: all .2s ease;
            svg{
              opacity: 0;
              position: absolute;
              top: 4px;
              left: 4px;
            }
          }
          &:last-of-type{
            margin-bottom: 0;
          }
        }
        .interest-checkbox input:checked ~ .interest-checkmark {
          background-color: $default-yellow-btns;
          border: none;
          transition: all .2s ease;
          svg{
            opacity: 1;
          }
        }
      }
    }
    .register-btn-wrap{
      margin-top: 33px;
      display: flex;
      justify-content: center;
      button{
        border-radius: 4px;
        height: 48px;
        width: 100%;
        max-width: 762px;
        font: 700 16px/24px 'Montserrat Bold', sans-serif;
        color: #000;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 20px;
      }
    }
    .complete-btn{
      background-color: $default-yellow-btns;
      border: none;
    }
  }
}