// ---------- SMILEY LOGIN PAGE ---------- //

.login .socnet-login-btns,
.login .v-facebook-login,
.login .v-google-login button {
  border: 1px solid #ced0d2 !important;
  border-radius: 40px !important;
  background-color: #ffffff !important;
  box-shadow: 0 3px 4px 0 rgba(96, 100, 112, 0.1) !important;
  cursor: pointer !important;
  height: 81px !important;
  color: $default-text !important;
  font: 700 18px/22px "Montserrat Bold", sans-serif !important;
  text-transform: uppercase !important;
  display: flex !important;
  align-items: center !important;
  text-align: left !important;
  padding-left: 40px !important;
  width: 100% !important;

  span {
    margin-right: 8px !important;
    display: flex !important;
  }

  svg {
    display: inline-block !important;
    height: 18px !important;
    width: 18px !important;
    vertical-align: text-top !important;
  }

  &.login-with-gmail-btn {
    max-width: 281px !important;

    @include xl {
      margin-top: 0 !important;
    }
  }

  &.login-with-facebook-btn,
  &.login-with-linkedin-btn {
    max-width: 325px !important;

    span {
      margin-right: 18px !important;
    }
  }
}

button.v-facebook-login {
  max-width: 325px !important;
  display: block !important;
}

.v-google-login {
  max-width: 281px !important;
  width: 100% !important;

  svg {
    margin-right: 30px !important;
  }
}

.login {
  text-align: center !important;
  margin-top: 148px !important;
  margin-bottom: 350px !important;

  .login-title {
    color: $default-text !important;
    font: 700 56px/74px "Montserrat Bold", sans-serif !important;
    margin-bottom: 27px !important;
  }

  .login-subtitle {
    color: $default-text !important;
    font: 400 22px/36px "Muli", sans-serif !important;
    max-width: 778px !important;
    margin: 0 auto 26px !important;
  }

  h3 {
    color: $default-text !important;
    font: 700 32px/48px "Montserrat Bold", sans-serif !important;
    text-transform: uppercase !important;
    margin: 0 !important;
  }

  .login-btns-wrap {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 41px !important;

    &>* {
      margin: 0 13px 10px !important;
    }

    @include xl {
      flex-direction: row !important;
    }
  }

  .login-wrap {
    width: 100% !important;
    max-width: 762px !important;
    text-align: left !important;
    margin: 27px auto 0 !important;

    label {
      color: $default-text !important;
      font: 700 16px/24px "Muli", sans-serif !important;

      input {
        display: block !important;
        margin: 7px auto 21px !important;
        width: 100% !important;
        box-sizing: border-box !important;
        height: 48px !important;
        border: 1px solid #c7c7c7 !important;
        border-radius: 4px !important;
        font: 400 16px/24px "Inter Regular", sans-serif !important;
        color: #656565 !important;
        padding: 0 48px 0 16px !important;
      }
    }

    .login-btn-wrap {
      margin-top: 27px !important;
    }

    .login-btn {
      border-radius: 4px !important;
      background-color: $default-yellow-btns !important;
      height: 48px !important;
      width: 100% !important;
      border: none !important;
      font: 700 16px/24px "Montserrat Bold", sans-serif !important;
      color: #000 !important;
      text-transform: uppercase !important;
      cursor: pointer !important;

      &:hover {
        background-color: #f6f162 !important;
        box-shadow: 0 2px 28px -13px rgba(0, 0, 0, 0.4) !important;
        color: #000 !important;
        transition: all 0.2s ease !important;
      }
    }

    .register-and-forgot {
      text-align: center !important;
      font: 400 22px/36px "Muli", sans-serif !important;
      margin-top: 25px !important;

      a,
      span {
        color: #324287 !important;
      }

      span {
        margin-left: 18px !important;
        margin-right: 6px !important;
      }
    }
  }
}

/*.v-google-login{*/
/*display: inline-flex !important;*/
/*}*/
.login button.v-facebook-login {
  justify-content: flex-start !important;

  img.token {
    display: none !important;
  }

  span {
    div {
      display: flex !important;
      align-items: center !important;

      span {
        margin-right: 18px !important;
      }
    }
  }

  &[disabled] {
    display: flex !important;
    justify-content: flex-start !important;

    .loader {
      margin-right: 12px !important;
    }
  }
}