.our-story {
  position: relative;
  padding: 80px 0 50px;
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Muli', sans-serif;
  color: #fff;

  * {
    box-sizing: border-box;
  }

  .sliding-background {
    background: url(/img/our-story/clouds_bg_3x_copy.jpg) repeat-x 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 300vw;
    -webkit-animation: slide 300s linear infinite;
    animation: slide 300s linear infinite;

    @include lg {
      background-position: initial;
    }
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include lg {
      max-width: 960px;
    }

    @include xl {
      max-width: 1600px;
      padding-left: 64px;
      padding-right: 64px;
    }
  }

  .container__inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .our-story__head {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;

    @include md {
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .head__logo {
      text-align: center;
      margin-top: 5px;

      img {
        max-width: 100%;
      }

      @include md {
        flex: none;
        width: 115px;
        margin-right: 70px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .content-w {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      text-align: center;

      h1 {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: 0;
      }

      p {
        line-height: 1.67;
        margin-top: .7em;
        margin-bottom: .7em;
      }

      @include md {
        text-align: left;

        h1 {
          line-height: 1.2;
          font-size: 50px;
        }

      }
    }
  }

  .our-story__blocks {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      justify-content: center;
      margin: 0 -15px;
    }

    .item {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      align-items: center;
      padding: 40px 35px;
      border: 1px solid hsla(0, 0%, 100%, .2);
      margin: 20px 0 0;
      text-align: center;

      .item__icon {
        font-size: 85px;
        line-height: 1;

        img {
          max-height: 85px;
        }
      }

      h2 {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
      }

      p {
        font-size: 16px;
        line-height: 1.75;
        margin-top: .7em;
        margin-bottom: .7em;
      }

      @include md {
        margin-top: 40px;
      }

      @include lg {
        flex: 0 0 calc(50% - 15px);
        width: calc(50% - 15px);
        margin: 80px 15px 0;
        align-items: flex-start;

        p {
          text-align: left;
        }
      }
    }
  }


  .our-story__timeline {
    margin-top: 100px;

    .timeline__head {
      position: relative;
      width: 72px;
      margin: 0 auto;
      height: 150px;

      &>div {
        width: 72px;
        height: 72px;
        border: 2px dotted #f4ed3b;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-animation-name: spin;
        animation-name: spin;
        -webkit-animation-duration: 60s;
        animation-duration: 60s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        &>div {
          width: 40px;
          height: 40px;
          background: #f4ed3b;
          border-radius: 50%;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 70px;
        left: 50%;
        bottom: 0;
        margin-left: -1px;
        border-left: 1px solid #f4ed3b;
      }
    }

    .timeline__body {
      .timeline__year {
        margin-top: 25px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 315px;

        .year__image {
          -webkit-box-flex: 0;
          flex: 0 0 360px;
          text-align: center;
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;

          img {
            max-width: 250px;
          }
        }

        .year__delimiter {
          position: relative;
          -webkit-box-flex: 0;
          flex: 0 0 60px;

          span {
            font-size: 24px;
            text-align: center;
            display: block;
          }

          &:before {
            content: "";
            position: absolute;
            top: 95px;
            left: 50%;
            bottom: 0;
            margin-left: -1px;
            border-left: 2px dashed hsla(0, 0%, 100%, .5);
          }

          &:after {
            content: "";
            width: 18px;
            height: 18px;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -9px;
            background: #fff;
            border-radius: 50%;
          }
        }

        .year__text {
          -webkit-box-flex: 0;
          flex: 0 0 360px;

          h2 {
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            margin-top: 0;
            margin-bottom: 16px;
          }

          p {
            font-size: 16px;
            line-height: 1.75;
          }
        }

        &:first-child .year__text {
          margin-bottom: -20px;
        }

        &:last-child .year__delimiter:after {
          display: none;
        }

        &:nth-child(2n) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          flex-direction: row-reverse;
        }

      }

    }

    .timeline__end {
      position: relative;
      width: 72px;
      margin: 0 auto;
      height: 72px;

      &>div {
        width: 72px;
        height: 72px;
        border: 2px dotted #fff;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-animation-name: spin;
        animation-name: spin;
        -webkit-animation-duration: 60s;
        animation-duration: 60s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        &>div {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
        }
      }
    }

    .timeline__years {
      display: none;
      /*position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        padding-top: 5px;
        margin-bottom: 50px;
        .year {
          position: relative;
          -webkit-box-flex: 1;
          flex: auto;
          min-width: 60px;
          text-align: center;
          color: #fff;
          font-size: 16px;
          line-height: 20px;
          padding: 36px 5px 18px;
          letter-spacing: 1.1px;
          border-bottom: 1px solid hsla(0,0%,100%,.2);
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
          }
          &:after {
            content: "";
            position: absolute;
            top: 5px;
            left: calc(50% + 10px);
            width: calc(100% - 20px);
            height: 1px;
            border-top: 2px dashed hsla(0,0%,100%,.5);
          }
          &.prev-active:before {
            background: #f4ed3b;
          }
          &.prev-active:after {
            border-top: 2px solid #f4ed3b;
            width: calc(100% - 23px);
          }
          &.active {
            color: #f4ed3b;
            font-size: 18px;
            font-weight: 700;
            padding: 37px 5px 17px;
            &:before {
              background: #f4ed3b;
              width: 16px;
              height: 16px;
              top: -3px;
            }
            &:after {
              border-top: 2px solid #f4ed3b;
              left: calc(50% + 14px);
              width: calc(100% - 23px);
            }
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
        .years__line {
          position: absolute;
          bottom: -1px;
          height: 3px;
          background: #f4ed3b;
          -webkit-transition: all .3s;
          transition: all .3s;
        }*/
    }

    @media (max-width: 576px) {
      .timeline__body {

        .timeline__year.js-tl-year-content {
          .year__image {
            -webkit-box-flex: 0;
            flex: 0 0 100%;

            img {
              max-width: 180px;
            }

          }

          .year__delimiter {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
          }
        }

      }

      .timeline__years {
        margin-bottom: 40px
      }

    }

    @media (max-width: 992px) {
      margin-top: 40px;

      .timeline__end,
      .timeline__head {
        display: none;
      }

      .timeline__body {
        .timeline__year {
          /*display: none;*/
          flex-wrap: wrap;
          -webkit-transition: all .3s;
          transition: all .3s;

          &.active {
            display: -webkit-box;
            display: flex;

            &.plus {
              -webkit-animation: transformPlus .3s linear 0s forwards;
              animation: transformPlus .3s linear 0s forwards;
            }

            &.minus {
              -webkit-animation: transformMinus .3s linear 0s forwards;
              animation: transformMinus .3s linear 0s forwards;
            }
          }

          .year__image {
            -webkit-box-flex: 0;
            flex: 0 0 50%;
          }

          .year__text {
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            text-align: center;
            margin-top: 30px;
          }

          .year__delimiter {
            /*display: none;*/
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-size: 30px;
            }

            &:before,
            &:after {
              display: none;
            }
          }
        }
      }

      .timeline__years {
        /*display: -webkit-box;*/
        /*display: flex;*/
      }
    }
  }




}