  .partners {
    line-height: 1.4;

    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      @include lg {
        max-width: 960px;
      }

      @include xl {
        max-width: 1440px;
        padding-left: 64px;
        padding-right: 64px;
      }
    }

    * {
      box-sizing: border-box;
      font-family: 'Muli', sans-serif;
    }

    h1 {
      line-height: 1.2;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 30px;
      margin-top: 0;

      @include md {
        font-size: 32px;
        margin-bottom: 15px;
      }
    }

    p {
      margin-top: .7em;
      margin-bottom: .7em;
    }

    .partners__main {
      color: #121212;

      .content-w {
        margin: 0 -15px;
        padding-top: 0;

        @include custom-width(460px) {
          padding: 40px 0;
          max-width: 520px;
          position: relative;
          margin: 0 auto;
        }

        .main__image {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 0;
          height: 170px;
          width: 100%;
          z-index: 1;

          img {
            width: auto;
            height: 170px;
            display: block;
            margin: 0 auto;
          }

          @include md {
            left: -220px;
            bottom: 0;
            width: 160px;
            margin: 0;

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }

        .main__content {
          margin-top: 30px;
          padding: 0 20px 150px;
          text-align: center;
          position: relative;
          z-index: 2;

          @include md {
            margin: 0;
            padding: 0;
          }

          .main__text {
            line-height: 1.8;
            font-size: 18px;
          }

          a {
            margin-top: 10px;
            display: inline-block;
            font-size: 19px;
            color: #000;
            text-decoration: underline;

            &.cta {
              max-width: 230px;
              font-size: 16px;
              position: relative;
              display: block;
              margin: 30px auto 8px;
              overflow: visible;

              &:after {
                content: "";
                width: 70px;
                height: 105px;
                background-color: transparent;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: 50%;
                position: absolute;
                right: -60px;
                top: -10px;
                left: auto;
              }
            }
          }

          .cta--solid-yellow {
            border: none;
            background-color: #f4ed3b;
            color: #000;

            &:hover {
              background-color: #f6f162;
              box-shadow: 0 2px 28px -13px rgba(0, 0, 0, .4);
              color: #000;
              transition: all .2s ease;
            }

            &:after {
              content: "";
              position: absolute;
              top: -30px;
              left: -120%;
              bottom: -30px;
              width: 100%;
              background-color: #f9f69c;
              z-index: 1;
            }
          }

          .cta {
            width: 100%;
            min-width: 100px;
            display: block;
            padding: 0 12px;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            outline: none;
            clear: both;
            height: 46px;
            line-height: 46px;
            position: relative;
            overflow: hidden;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
          }
        }
      }
    }

    .partners__together {
      background-image: url(/images/pages/partners/together.jpg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      color: #393939;
      text-align: center;
      padding: 50px 0;

      .partners {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        -webkit-box-pack: center;
        justify-content: center;

        .partner {
          position: relative;
          background: #fff;
          -webkit-box-flex: 0;
          flex: 0 0 calc(25% - 30px);
          min-width: 250px;
          margin: 30px 15px 0;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          height: 200px;
          cursor: pointer;
          transition: box-shadow .25s;

          &:hover {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

            .partner__logo {
              -webkit-transform: scale(1.05);
              transform: scale(1.05);
            }

            .partner__name {
              background: #f4ed3b;
              color: #000;
            }
          }

          .special-w {
            min-height: 20px;
          }

          .partner__logo {
            -webkit-box-flex: 1;
            flex-grow: 1;
            padding: 10px 50px;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-transition: .5s;
            transition: .5s;

            img {
              max-height: 150px;
              max-width: 100%;
            }
          }

          .partner__name {
            text-transform: uppercase;
            border-top: 1px solid #e0e6eb;
            padding: 18px 20px;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 2px;
            text-align: center;
            color: #000;
            -webkit-transition: .5s;
            transition: .5s;
          }
        }
      }
    }

    .partners__main--contact {
      padding-top: 50px;
      padding-bottom: 0;
      background-color: #e5e9f0;

      .content-w {
        .main__content {
          padding-bottom: 0;
        }

      }
    }
  }