//--- Default text color
$default-text: #1a1a1a;

//--- Default orange color (orange buttons)
$default-orange-btns: #eeb400;

//--- Default yellow color (yellow buttons)
$default-yellow-btns: #ffec00;

//--- Default red color (red buttons)
$default-red-btns: #de1c22;
